[submodule "crates/hypercraft"]
	path = crates/hypercraft
	url = https://github.com/KuangjuX/hypercraft.git
[submodule "crates/lwip_rust/depend/lwip"]
	path = crates/lwip_rust/depend/lwip
	url = https://github.com/lwip-tcpip/lwip.git

