[package]
name = "axsync"
version.workspace = true
edition.workspace = true
authors = ["Yuekai Jia <equation618@gmail.com>"]
description = "ArceOS synchronization primitives"
license.workspace = true
homepage.workspace = true
repository = "https://github.com/arceos-org/arceos/tree/main/modules/axsync"
documentation = "https://arceos-org.github.io/arceos/axsync/index.html"

[features]
default = []

multitask = ["axtask/multitask"]

[dependencies]
kspin = "0.1"
axtask = { workspace = true, features = ["irq", "multitask"] }

[dev-dependencies]
rand = "0.8"
axsync = { workspace = true, features = ["multitask"] }
axtask = { workspace = true, features = ["test"] }
