[package]
name = "axsync"
version.workspace = true
edition.workspace = true
authors = ["Yuekai Jia <equation618@gmail.com>"]
description = "ArceOS synchronization primitives"
license.workspace = true
homepage.workspace = true
repository = "https://github.com/arceos-org/arceos/tree/main/modules/axsync"
documentation = "https://arceos-org.github.io/arceos/axsync/index.html"

[features]
multitask = ["axtask/multitask", "dep:axhal"]
default = []

[dependencies]
kspin = "0.1"
cfg-if = "1.0"
axtask = { workspace = true }
axhal = { workspace = true, optional = true }

[dev-dependencies]
rand = "0.8"
axsync = { workspace = true, features = ["multitask"] }
axtask = { workspace = true, features = ["test"] }
