[package]
name = "axhal"
version.workspace = true
edition.workspace = true
authors = ["Yuekai Jia <equation618@gmail.com>"]
description = "ArceOS hardware abstraction layer, provides unified APIs for platform-specific operations"
license.workspace = true
homepage.workspace = true
repository = "https://github.com/arceos-org/arceos/tree/main/modules/axhal"
documentation = "https://arceos-org.github.io/arceos/axhal/index.html"

[features]
smp = []
alloc = []
fp_simd = []
paging = ["axalloc"]
irq = []
tls = ["alloc"]
rtc = ["x86_rtc", "riscv_goldfish", "arm_pl031"]
uspace = ["paging"]
default = []

[dependencies]
log = "=0.4.21"
cfg-if = "1.0"
linkme = "0.3.31"
bitflags = "2.8"
static_assertions = "1.1.0"
kernel_guard = "0.1"
kspin = "0.1"
int_ratio = "0.1.1"
lazyinit = "0.2"
percpu = "0.2"
memory_addr = "0.3"
handler_table = "0.1"
page_table_entry = "0.5"
page_table_multiarch = "0.5"
axlog = { workspace = true }
axconfig = { workspace = true }
axalloc = { workspace = true, optional = true }

[target.'cfg(target_arch = "x86_64")'.dependencies]
x86 = "0.52"
x86_64 = "0.15"
x2apic = "0.4"
raw-cpuid = "11.3"
x86_rtc = { version = "0.1", optional = true }

[target.'cfg(any(target_arch = "riscv32", target_arch = "riscv64"))'.dependencies]
riscv = "0.12"
sbi-rt = { version = "0.0.3", features = ["legacy"] }
riscv_goldfish = { version = "0.1", optional = true }

[target.'cfg(target_arch = "aarch64")'.dependencies]
aarch64-cpu = "10.0"
tock-registers = "0.9"
arm_gicv2 = "0.1"
arm_pl011 = "0.1"
arm_pl031 = { version = "0.2", optional = true }
dw_apb_uart = "0.1"

[target.'cfg(target_arch = "loongarch64")'.dependencies]
loongArch64 = "0.2.4"
ns16550a = "0.4.0"

[build-dependencies]
axconfig = { workspace = true }
