[package]
name = "axhal"
version = "0.1.0"
edition = "2021"
authors = ["Yuekai Jia <equation618@gmail.com>"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
platform-qemu-virt-riscv = ["axconfig/platform-qemu-virt-riscv"]
platform-qemu-virt-aarch64 = [
    "axconfig/platform-qemu-virt-aarch64",
    "dep:page_table_entry", "dep:lazy_init", "dep:ratio",
]
paging = ["axalloc", "page_table"]
default = []

[dependencies]
log = "0.4"
spin = "0.9"
cfg-if = "1.0"
bitflags = "1.3"
static_assertions = "1.1.0"
axconfig = { path = "../axconfig" }
axalloc = { path = "../axalloc", optional = true }
ratio = { path = "../../crates/ratio", optional = true }
lazy_init = { path = "../../crates/lazy_init", optional = true }
page_table = { path = "../../crates/page_table", optional = true }
page_table_entry = { path = "../../crates/page_table_entry", optional = true }
memory_addr = { path = "../../crates/memory_addr" }

[target.'cfg(target_arch = "x86_64")'.dependencies]
x86 = "0.52"

[target.'cfg(any(target_arch = "riscv32", target_arch = "riscv64"))'.dependencies]
riscv = "0.10"
sbi-rt = { version = "0.0.2", features = ["legacy"] }

[target.'cfg(target_arch = "aarch64")'.dependencies]
aarch64-cpu = "9.3"
tock-registers = "0.8"

[build-dependencies]
axconfig = { path = "../axconfig" }
