name: Test CI

on: [push, pull_request]

env:
  rust-toolchain: nightly-2025-05-20

jobs:
  unit-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: dtolnay/rust-toolchain@stable
      with:
        toolchain: ${{ env.rust-toolchain }}
    - name: Run unit tests
      run: make unittest_no_fail_fast
